set net_default_server=192.168.1.229
set pxe_server=http://192.168.1.229
set talos_version=v1.13.0

insmod net
insmod efinet
insmod tftp
insmod http

echo "Booting Talos Linux ${talos_version} from ${pxe_server}..."

linux (http,192.168.1.229)/talos/${talos_version}/vmlinuz \
    talos.platform=metal \
    console=tty0 \
    panic=0 \
    talos.config=${pxe_server}/config/grub

initrd (http,192.168.1.229)/talos/${talos_version}/initramfs.xz

boot
